.my-container {
    background: #171932;
}

.my-nav-container {
    width: 100%;
    margin: 0 auto;
    height: 100px;
    background: #030013;
}
.my-nav{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.logo {
    text-decoration: none;
    color: #b4dfee;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Zen Tokyo Zoo', cursive;
}

.my-btn {
    text-decoration: none;
    display: none;
    padding: 15px 20px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #acc9d1 inset, 0 0 0 0 #b4dfee;
    /*font-family: 'Montserrat', sans-serif;*/
    font-weight: bold;
    letter-spacing: 2px;
    color: #232653;
    transition: .15s ease-in-out;
    width: 150px;

    font-family: 'Zen Tokyo Zoo', cursive;
}

.active-btn {
    display: inline-block;
}

.my-btn:hover {
    box-shadow: 0 0 10px 0 #acc9d1 inset, 0 0 10px 4px #b4dfee;
    color: #232653;
}


.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.bg-img{
    width: 500px;
    height: 500px;

}
.add-btn{
    width: 170px;
    margin: 0 auto 40px;
}
.my-message{
    display: none;
    font-weight: bold;
    font-size: 30px;
    color: #acc9d1;
}
.active-msg{
    display: block;
}