.card-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

}

.card {
    overflow: hidden;
    box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px,
    inset rgba(252, 255, 255, .7) 0 3px 8px,
    rgba(0, 0, 0, .8) 0 3px 8px -3px;
    width: 320px;
    margin: 5px 10px;
    border: none;
}

.delete-card {
    position: absolute;
    right: 5px;
    top: 4px;
    z-index: 1000;
}

.btn-more {
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, 0);
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
    clip-path: polygon(50% 3%, 0 68%, 100% 68%);
    background: linear-gradient(to bottom, #003300 0%, #003366 100%);
}

.show-more {
    clip-path: polygon(47% 100%, 1% 26%, 100% 26%);
    bottom: -3%;
}

.card-title {
    font-family: 'Varela Round', sans-serif;
    font-size: 26px;
    color: #232323;
    /*text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);*/
}

.card-header {
    font-size: 15px;
    color: #232323;
    font-style: italic;
    font-weight: bold;
}

.card-text {
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    font-style: italic;
    font-weight: bold;
    /*text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);*/
    line-height: 40px;
    color: #232323;
}

.first-half {
    display: block;
}

.second-half {
    display: none;
}

.edit-img {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 3px;
    right: 40px;
    cursor: pointer;
    z-index: 1000;
}
.grey{
    color: darkgray;
    margin-left: 5px;
}
