.create-btn{
    display: block;
    /*line-height: 15px;*/
}

.visit-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.visit-input{
    width: 450px;
    height: 50px;
    border-radius: 10px;
    background-image: radial-gradient(rgb(151, 159, 237), rgb(160, 167, 238), rgb(169, 176, 240), rgb(179, 184, 241), rgb(188, 193, 242), rgb(197, 201, 244), rgb(206, 210, 245), rgb(215, 218, 247), rgb(224, 227, 248), rgb(234, 235, 249), rgb(243, 244, 251), rgb(252, 252, 252));
    outline: none;
    border: none;
    color: #030013;
    padding: 20px;
}
.my-select{
    padding: .6em 1.4em .5em .8em;
    /*width: 100%;*/
}

.edit-btn{
    display: block;
    width: 170px;
}