.my-window{
    border-radius: 10px;
    background: #567599;
    background: -webkit-linear-gradient(to right, #567599, #1f2e4b);
    background: linear-gradient(to bottom, #567599, #1f2e4b);
    box-shadow:
            inset rgba(0,0,0,.6) 0 -3px 8px,
            inset rgba(252,255,255,.7) 0 3px 8px,
            rgba(0,0,0,.8) 0 3px 8px -3px;
}
.my-wrapper{
    display: flex;
    flex-direction: column;
}
.my-submit{
    display: inline-block;
    margin: 40px auto 0;
    font-size: 20px;
    width: 150px;
    height: 60px;
    box-sizing: border-box;
    text-align: center;
    padding: 0;

}
.my-input{
    width: 450px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(to right, #567599, #1f2e4b);
    outline: none;
    border: none;
    color: #030013;
    padding: 20px;
    margin-top: 25px;
}

.my-input::placeholder{
    color: #030013;
}
.error-text{
    color: indianred;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-top: 20px;
}

