.filters{
    display: none;
    justify-content: center;
    gap: 50px;
    align-items: center;
    /*flex-direction: column;*/
    margin: 30px auto 50px;
}

.selects{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 1000px;
    margin: 30px auto 0;
    gap: 50px;
}
.autocomplete {
    position: relative;
    display: flex;
    /*clip-path: polygon(1% 0, 100% 0, 100% 50%, 100% 100%, 1% 100%, 0% 50%);*/
}
.form-select{
    background: #b4dfee;
}
.urgency-select{
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    width: 300px;
    padding: 5px 50px;
    cursor: pointer;
}

.doctor-select{
    clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 10% 100%, 0% 50%, 10% 0);
    width: 300px;
    padding: 5px 50px;
    cursor: pointer;
}

.search-btn{
    width: 150px;
    height: 45px;
    /*clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%, 0% 50%);*/
    border: none;
    background: #b4dfee;
    outline: none;
}
.search-string{
    width: 450px;
    height: 45px;
    padding: 0 20px;
    background: #b4dfee;
    border: none;
    outline: none;
}










/*input {*/
/*    border: 1px solid transparent;*/
/*    background-color: #f1f1f1;*/
/*    padding: 10px;*/
/*    font-size: 16px;*/
/*}*/
/*input[type=text] {*/
/*    background-color: #f1f1f1;*/
/*    width: 100%;*/
/*}*/
/*input[type=submit] {*/
/*    background-color: DodgerBlue;*/
/*    color: #fff;*/
/*}*/
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}